.about {
    background-color: var(--co-white);
    padding: 160px 0 60px 0;
}

/* .about__subtitle {
    font-weight: 600;
    font-size: 24px;
    color: var(--co-light-black);
} */

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__title {
    position: relative;
    max-width: 500px;
    font-weight: 700;
    font-size: 50px;
    color: var(--co-green);
}

.about__title::before {
    content: "How it works";
    position: absolute;
    top: -30px;
    left: 0;

    font-weight: 600;
    font-size: 24px;
    color: var(--co-light-black);
}

.about__desc {
    max-width: 650px;
    font-weight: 400;
    font-size: 20px;
    color: var(--co-light-black);
    line-height: 150%;

}

.about__cards {
    margin: 80px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.about__cards {
    .card:nth-child(2) {
        margin: 240px 0 0 0;
    }
}

@media (max-width:1250px) {
    .about__subtitle {
        text-align: center;
    }

    .about__content {
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 20px;
    }

    .about__cards {
        align-items: center;
        justify-content: start;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .about__cards {
        .card:nth-child(2) {
            margin: 0;
        }
    }
}

@media (max-width:768px) {
    .about__content {
        padding: 0 15px;
    }
}

@media (max-width:576px) {
    .about__title {
        font-size: 35px;
    }
}