.card {
    max-width: 390px;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 60px;
}

.card__title {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    color: var(--co-black);
    align-self: center;
}

.card__title::before {
    content: "01";
    position: absolute;
    top: -115px;
    left: -115px;
    font-size: 150px;
    font-weight: 400;
    color: var(--co-green);
    opacity: 0.3;

}

.card__desc {
    font-weight: 500;
    font-size: 20px;
    color: var(--co-light-black);
}

.card__img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: auto 65/82;
}

.card__title--second::before {
    content: "02";
    left: -98px;

}

.card__title--third::before {
    content: "03";
    left: -133px
}

.card__title--right {
    align-self: flex-end;
}

@media (max-width:1250px) {
    .card__title--right {
        align-self: center;
    }
}

@media (max-width:480px) {

    .card__title {
        font-size: 22px;
    }

    .card__title::before {
        left: -90px;
    }

    .card__desc {
        font-size: 16px;
    }
}