.hero {
    background: url('../assets/webp/hero_bg.webp') center/cover no-repeat;
    height: 895px;
}

.hero__content {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 175px;
}

.hero__title {
    color: var(--co-green);
    font-weight: 700;
    font-size: 65px;
}

.hero__desc {
    margin: 25px 0 50px;
    color: var(--co-light-black);
    font-weight: 400;
    font-size: 20px;
}

.hero__content {
    .btn {
        width: 230px;
        height: 65px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 700px;
    }

    .hero__content {
        padding-top: 180px;
    }
}

@media (max-width: 480px) {
    .hero {
        background:
            linear-gradient(180deg, rgba(245, 246, 252, 0.52), rgba(255, 176, 139, 0.28)),
            url('../assets/webp/hero_bg.webp') 60% 50%/cover no-repeat;
    }

    .hero__title {
        font-size: 45px;
        max-width: 350px;
    }
}