.mobile-navigation {
    display: none;
    position: absolute;
    top: 35px;
    left: 15px;
}

.mobile-navigation__burger {
    width: 33px;
    height: 18px;
    flex-shrink: 0;
    cursor: pointer;
}

.mobile-navigation__toggler {
    display: none;
}

.mobile-navigaton__menu {
    position: fixed;
    inset: 0;
    padding: 30px 20px 10px;
    background-color: var(--co-white);
    translate: -100% 0;
    transition: translate 0.33s;

}

.mobile-navigation__toggler:checked~.mobile-navigaton__menu {
    translate: 0;
}

.mobile-navigaton__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.mobile-navigaton__item {}

.mobile-navigaton__link {
    font-size: 30px;
}

.mobile-navigaton__link:hover {
    color: var(--co-green);
}

.mobile-navigation__close {
    position: absolute;
    top: 40px;
    left: 20px;
}

.mobile-navigation__cross {
    width: 25px;
    height: 22px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-navigation {
        display: block;
    }
}