.product {
    background-color: var(--co-white);
    padding-top: 115px;
    padding-bottom: 240px;
}

.product__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
    padding: 0 30px;
}

.product__preview {
    height: 570px;
}

.product__preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__content {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    .btn {
        width: 230px;
        height: 65px;
        margin-top: 20px;
    }
}

.product__info {
    font-weight: 600;
    font-size: 25px;
    color: var(--co-light-black)
}

.product__title {
    font-weight: 700;
    font-size: 50px;
    color: var(--co-green);
}

.product__desc {
    font-weight: 400;
    font-size: 20px;
    color: var(--co-light-black);
}

@media (max-width: 992px) {
    .product__content {
        max-width: 390px;
    }

    .product__title {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .product {
        padding: 115px 0;
    }

    .product__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .product__preview {
        height: 470px;
    }

    .product__title {
        font-size: 28px;
    }

    .product__desc {
        font-size: 18px;
    }

    .product__wrapper {
        .person-card {
            display: none;
        }
    }
}