.success {
    background-color: var(--co-dark-green);
}

.success__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap-reverse;
    gap: 20px;
    padding: 220px 0;
}

.success__content {
    margin-top: 50px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .btn {
        margin-top: 80px;
        width: 240px;
        height: 65px;
    }
}

.success__content .btn:hover {
    outline: 2px solid var(--co-white);
}

.success_title {
    font-weight: 700;
    font-size: 50px;
    color: var(--co-white);
}

.success__desc {
    font-weight: 600;
    font-size: 25px;
    color: var(--co-white);
}

.success__video {
    max-width: 790px;
    height: 455px;
    position: relative;
}

.success__video-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 158/91;
}

.success__play-icon {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--co-white);
    width: 72px;
    height: 73px;
}

.success__play-icon:hover {
    fill: var(--co-green);
    cursor: pointer;
}

@media (max-width: 1380px) {
    .success__wrapper {
        justify-content: center;
    }

    .success__content {
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 576px) {
    .success__wrapper {
        padding: 150px 0;
    }

    .success_title {
        font-size: 32px;
    }

    .success__desc {
        font-size: 20px;
    }
}