:root {
    --co-white: #fff;
    --co-green: #017f67;
    /* #01996d */
    --co-dark-green: #245852;
    --co-black: #292929;
    --co-light-black: #484848;
    /* #424242*/
}

/* media breakpoints: 992px, 768px, 576px, 480px */